<table class="table">
    <thead>
        <th>Sno</th>
        <th>Image</th>
        <th>Name</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Edit</th>
    </thead>
    <tbody>
        <tr *ngFor="let category of categoryList;index as i">
            <td>{{i+1}}</td>
            <td><img src="{{category.image}}" style="border-radius:50%;" height="100px" width="100px" alt=""></td>
            <td>{{category.name}}</td>
            <td>{{category.type}}</td>
            <td><button class="btn btn-warning" (click)="takingId(category._id,category.name,category.type,category.image)" data-toggle="modal"
                    data-target="#myModal">Edit</button></td>
            <td><button class="btn btn-danger" (click)="deleteCat(category._id,i)">Delete</button></td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <label for="">Name</label>
                <input type="text" [(ngModel)]="name" class="form-control">

                <label for="">Image</label><br>
                <input type="file" (change)="selectImage($event)">
                <br>
                <label for="">Type</label><br>
                <select (change)="selectType($event)">
                    <option value="">{{type}}</option>
                    <option value="product">Product</option>
                    <option value="package">Package</option>
                    <option value="Murti">Murti</option>
                    <option value="photo">photo</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editCategory(id)">EDIT</button>
            </div>
        </div>
    </div>
</div>