<table class="table">
    <thead>
        <th>Sno</th>
        <th>Image</th>
        <th>Name</th>
        <th>Type</th>
        <th>Link</th>
        <!-- <th>Lyrics</th> -->
        <th>catId</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="let media of mediaList; index as i">
            <td>{{i+1}}</td>
            <td><img src="{{media.image}}" style="border-radius:50%;" height="100px" width="100px" alt=""></td>
            <td>{{media.name}}</td>
            <td>{{media.type}}</td>
            <td>{{media.link}}</td>
            <!-- <td>{{media.lyrics}}</td> -->
            <td>{{media.catId.name}}</td>       
            <td><button class="btn btn-warning" (click)="takingId(media._id,media.image,media.name,media.type,media.link,media.catId._id,media.catId.name)" data-toggle="modal"
                data-target="#myModal">Edit</button></td>
            <td><button class="btn btn-danger" (click)="deleteCategory(media._id,i)">Delete</button></td>
        </tr>
    </tbody>
</table>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <label for="">Name</label>
                <input type="text" [(ngModel)]="name" class="form-control">

                <label for="">Image</label><br>
                <input type="file" (change)="selectImage($event)">

                <label for="">Type</label>
                <input type="text" [(ngModel)]="type" class="form-control">

                <label for="">Link</label>
                <input type="text" [(ngModel)]="link" class="form-control">

                <!-- <label for="">catId</label>
                <input type="text" [(ngModel)]="catId" class="form-control"> -->

                <label for="">Media</label><br>
                <select (change)="selectMedia($event)">
                       <option value="{{catId}}">{{catName}}</option>
                        <option *ngFor="let cat of mediaCatList" value="{{cat._id}}">{{cat.name}}</option>
                </select>
                <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"   (click)="editCategory(id)">EDIT</button>
              
            </div>
        </div>
    </div>
</div>