<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">Puja Pratham</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#" class="active">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
   
    <li class="nav-item dropdown">
      <a href="#">
        <i class='bx bx-box'></i>
        <span class="links_name">Product-Category</span>
      </a>

      <div class="dropdown " >
        <div class="dropdown-content">
          <a routerLink="/add-category">Add</a>
          <a routerLink="/view-category">View</a>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a href="#">
        <i class='bx bx-list-ul'></i>
        <span class="links_name">Product</span>
      </a>
      <div class="dropdown " >
        <div class="dropdown-content">
          <a routerLink="/add-product">Add</a>
          <a routerLink="/view-product">View</a>
        </div>
      </div>

    </li>

    <li class="nav-item dropdown">
      <a href="#">
        <i class='bx bx-list-ul'></i>
        <span class="links_name">Event Category</span>
      </a>
      <div class="dropdown " >
        <div class="dropdown-content">
          <a routerLink="/add-event-category">Add</a>
          <a routerLink="/view-event-category">View</a>
        </div>
      </div>

    </li>
    <li class="nav-item dropdown">
      <a href="#">
        <i class='bx bx-list-ul'></i>
        <span class="links_name">Event</span>
      </a>
      <div class="dropdown " >
        <div class="dropdown-content">
          <a routerLink="/add-event">Add</a>
          <a routerLink="/view-event">View</a>
        </div>
      </div>

    </li>
    <li class="nav-item dropdown">
      <a href="#">
        <i class='bx bx-book-alt'></i>
        <span class="links_name">Media-Category</span>
      </a>
      <div class="dropdown " >
        <div class="dropdown-content">
          <a routerLink="/add-media-category">Add</a>
          <a routerLink="/view-media-category">View</a>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a href="#">
        <i class='bx bx-user'></i>
        <span class="links_name">Media</span>
      </a>
      <div class="dropdown " >
        <div class="dropdown-content">
          <a routerLink="/add-media">Add</a>
          <a routerLink="/view-media">View</a>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a href="#">
        <i class='bx bx-message'></i>
        <span class="links_name">Temple</span>
      </a>
      <div class="dropdown " >
        <div class="dropdown-content">
          <a routerLink="/add-temple">Add</a>
          <a routerLink="/view-temple">View</a>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a href="#">
        <i class='bx bx-heart'></i>
        <span class="links_name">Temple Pooja</span>
      </a>
      <div class="dropdown " >
        <div class="dropdown-content">
          <a routerLink="/add-temple-puja">Add</a>
          <a routerLink="/view-temple-puja">View</a>
        </div>
      </div>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Orders of Products</span>
      </a>
    </li>
    <li class="">
      <a href="#">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Temple Booking</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Users</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Event Bookings</span>
      </a>
    </li>
    
  </ul>
</div>
<section class="home-section">
  <router-outlet></router-outlet>
</section>