<div class="form-group ml-5 mr-5 mt-2">
    <label for="">Name</label><br>
    <input type="text" class="form-control" [(ngModel)]="name">
</div>
<div class="form-group ml-5 mr-5 mt-2">
    <label for="">Image</label><br>
    <input type="file" (change)="selectImage($event)">
</div>
<div class="form-group ml-5 mr-5 mt-2">
    <label for="">Link</label>
    <textarea type="text" class="form-control" [(ngModel)]="link"></textarea>
</div>
<div class="form-group ml-5 mr-5 mt-2">
    <label for="">Lyrics</label><br>
    <textarea type="text" class="form-control" [(ngModel)]="lyrics"></textarea>
</div>
<div class="form-group ml-5 mr-5 mt-2">
    <label for="">Category</label><br>
    <select (change)="selectCategory($event)">
        <option value="0">Select Media Category</option>
        <option *ngFor="let media of mediaList" value="{{media._id}}">{{media.name}} ({{media.type}})</option>
    </select>
</div>

<div class="form-group ml-5 mr-5 mt-2">
    <label for="">Media Type</label><br>
    <select (change)="selectType($event)">
        <option value="0">Select Media Type</option>
        <!-- <option *ngFor="let media of mediaList" value="{{media._id}}">{{media.name}} ({{media.type}})</option> -->
        <option value="video">video</option>
        <option value="audio">audio</option>
    </select>
</div> 
<div class="form-group ml-5 mr-5 mt-2">
    <button class="btn btn-primary" (click)="add()">Add</button>    
</div>