<table class="table">
    <thead>
        <th>Sno</th>
        <th>Image</th>
        <th>Name</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Edit</th>
    </thead>
    <tbody>
        <tr *ngFor="let temple of templeList;index as i">
            <td>{{i+1}}</td>
            <td><img src="{{temple.image}}" style="border-radius:50%;" height="100px" width="100px" alt=""></td>
            <td>{{temple.name}}</td>
            <td>{{temple.address}}</td>
            <td><button class="btn btn-warning" (click)="takingId(temple._id,temple.name,temple.address,temple.image)" data-toggle="modal"
                    data-target="#myModal">Edit</button></td>
            <td><button class="btn btn-danger" (click)="deleteTemple(temple._id,i)">Delete</button></td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <label for="">Name</label>
                <input type="text" [(ngModel)]="name" class="form-control">

                <label for="">Image</label><br>
                <input type="file" (change)="selectImage($event)">
                <br>
                <label for="">Address</label>
                <input type="address" [(ngModel)]="address" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editTemple(id)">EDIT</button>
            </div>
        </div>
    </div>
</div>